* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    font-family: "Public Sans", sans-serif;
}

body {
    background-color: rgb(237, 243, 248);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
    padding-left: 165px;
    padding-right: 165px;
    position: fixed;
    background-color: rgb(237, 243, 248);
    height: 100px;
}

.wrapper__nav-text {
    display: flex;
    align-items: center;
    gap: 40px;
}

.wrapper__nav-text a {
    text-decoration: none;
    color: rgb(54, 83, 107);
}

.wrapper__nav-button {
    width: 173px;
    height: 48px;
    border-radius: 24px;
    border: 0;
    background-color: rgb(186, 66, 112);
    color: white;
}

.wrapper__nav-button :hover {
    background-color: transparent;
    border: 2px white;
}

.wrapper__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 58px;
}

.wrapper__group h1 {
    color: rgb(54, 83, 107);
    font-size: 72px;
    font-family: "Public Sans", sans-serif;
}

.wrapper__mask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 110px;
    margin-top: 95px;
    background-color: rgb(27, 38, 47);
    width: 1500px;
    height: 472px;
    color: white;
    font-family: "Public Sans", sans-serif;
}

.wrapper__mask-text h2 {
    font-size: 48px;
}

.wrapper__mask-text p {
    color: grey;
    font-size: 15px;
    padding-top: 24px;
}

.wrapper__mask-text button {
    background-color: transparent;
    margin-top: 32px;
    border-radius: 40px;
    color: white;
    width: 100px;
    height: 48px;
}

.wrapper__mask-text button :hover {
    background-color: rgb(186, 66, 112);
}

.wrapper__easy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 160px;
    font-family: "Public Sans", sans-serif;
}

.wrapper__easy-card {
    background-color: rgb(27, 38, 47);
    color: white;
    border-radius: 8px;
    width: 445px;
    height: 284px;
}

.wrapper__easy-card-nav {
    background-color: rgb(46, 63, 77);
    width: 445px;
    height: 40px;
    border-radius: 8px;
    font-family: "Public Sans", sans-serif;
    padding-top: 12px;
    padding-left: 16px;
    gap: 6px;
    display: flex;
}

.wrapper__easy-card-nav-box1 {
    width: 16px;
    height: 16px;
    background-color: rgb(186, 66, 112);
    border-radius: 32px;
}

.wrapper__easy-card-nav-box2 {
    width: 16px;
    height: 16px;
    background-color: rgb(82, 118, 149);
    border-radius: 32px;
}

.wrapper__easy-card-nav-box3 {
    width: 16px;
    height: 16px;
    background-color: rgb(54, 83, 107);
    border-radius: 32px;
}

.wrapper__eacy-group-second {
    padding-left: 32px;
    padding-top: 32px;
}

.wrapper__easy-text {
    color: rgb(54, 83, 107);
    font-size: 48px;
    gap: 128px;
}

.wrapper__easy-text p {
    color: gray;
    padding-top: 25px;
    font-size: 15px;
}

.wrapper__hello {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 141px;
    padding-right: 161px;
}

.wrapper__hello h3 {
    color: rgb(54, 83, 107);
    font-size: 18px;
    margin-top: 32px;
}

.wrapper__hello p {
    color: rgb(108, 130, 148);
    font-size: 15px;
    margin-top: 16px;
}

.wrapper__hello {
    padding-top: 120px;
    padding-left: 161px;
    padding-right: 189px;
    text-align: center;
    gap: 30px;
}

header {
    display: flex;
    background-color: rgb(27, 38, 47);
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.header__logo-text {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 165px;
}

.header__logo-text a {
    color: grey;
    text-decoration: none;
}

.header__logo {
    padding-right: 165px;
}
@media screen and (min-width: 200px) and (max-width: 599px) {}
    .wrapper {
        font-family: "Public Sans", sans-serif;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    body {
        background-color: rgb(237, 243, 248);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 51px;
        padding-left: 165px;
        padding-right: 165px;
        gap: 50px;
        position: fixed;
        background-color: rgb(237, 243, 248);
        height: 100px;
        width: 599px;
    }

    .wrapper__nav-text {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .wrapper__nav-text a {
        text-decoration: none;
        color: rgb(54, 83, 107);
    }

    .wrapper__nav-button {
        width: 173px;
        height: 48px;
        border-radius: 24px;
        border: 0;
        background-color: rgb(186, 66, 112);
        color: white;
    }

    .wrapper__nav-button :hover {
        background-color: transparent;
        border: 2px white;
    }

    .wrapper__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 100px;
        gap: 380px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .wrapper__group h1 {
        display: flex;
        color: rgb(54, 83, 107);
        font-size: 52px;
        font-family: "Public Sans", sans-serif;
    }

    .wrapper__mask {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 110px;
        margin-top: 95px;
        background-color: rgb(27, 38, 47);
        width: 1500px;
        height: 472px;
        color: white;
        font-family: "Public Sans", sans-serif;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .wrapper__mask-text h2 {
        font-size: 48px;
    }

    .wrapper__mask-text p {
        color: grey;
        font-size: 15px;
        padding-top: 24px;
    }

    .wrapper__mask-text button {
        background-color: transparent;
        margin-top: 32px;
        border-radius: 40px;
        color: white;
        width: 100px;
        height: 48px;
    }

    .wrapper__mask-text button :hover {
        background-color: rgb(186, 66, 112);
    }

    .wrapper__easy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 165px;
        margin-right: 165px;
        margin-top: 160px;
        font-family: "Public Sans", sans-serif;
        gap: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .wrapper__easy-card {
        background-color: rgb(27, 38, 47);
        color: white;
        border-radius: 8px;
        width: 445px;
        height: 284px;
    }

    .wrapper__easy-card-nav {
        background-color: rgb(46, 63, 77);
        width: 445px;
        height: 40px;
        border-radius: 8px;
        font-family: "Public Sans", sans-serif;
        padding-top: 12px;
        padding-left: 16px;
        gap: 6px;
        display: flex;
    }

    .wrapper__easy-card-nav-box1 {
        width: 16px;
        height: 16px;
        background-color: rgb(186, 66, 112);
        border-radius: 32px;
    }

    .wrapper__easy-card-nav-box2 {
        width: 16px;
        height: 16px;
        background-color: rgb(82, 118, 149);
        border-radius: 32px;
    }

    .wrapper__easy-card-nav-box3 {
        width: 16px;
        height: 16px;
        background-color: rgb(54, 83, 107);
        border-radius: 32px;
    }

    .wrapper__eacy-group-second {
        padding-left: 32px;
        padding-top: 32px;
    }

    .wrapper__easy-text {
        color: rgb(54, 83, 107);
        font-size: 48px;
        gap: 128px;
    }

    .wrapper__easy-text p {
        color: gray;
        padding-top: 25px;
        font-size: 15px;
    }

    .wrapper__hello {
        display: flex;
        align-items: center;
        gap: 100px;
        padding-left: 181px;
        padding-right: 181px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .wrapper__hello h3 {
        color: rgb(54, 83, 107);
        font-size: 18px;
        margin-top: 32px;
    }

    .wrapper__hello p {
        color: rgb(108, 130, 148);
        font-size: 15px;
        margin-top: 16px;
    }

    .wrapper__hello {
        padding-top: 120px;
        padding-left: 161px;
        padding-right: 189px;
        text-align: center;
        gap: 30px;
    }

    header {
        display: flex;
        background-color: rgb(27, 38, 47);
        align-items: center;
        justify-content: space-between;
        height: 100px;
        width: 1350px;
        gap: 10px;
        width: 599px;
    }

    .header__logo-text {
        display: flex;
        align-items: center;
        gap: 40px;
        padding-left: 165px;
    }

    .header__logo-text a {
        color: grey;
        text-decoration: none;
    }

    .header__logo {
        padding-right: 165px;
    }

@media screen and (max-width: 600px) {
    .wrapper {
        font-family: "Public Sans", sans-serif;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    body {
        background-color: rgb(237, 243, 248);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 51px;
        padding-left: 165px;
        padding-right: 165px;
        gap: 640px;
        position: fixed;
        background-color: rgb(237, 243, 248);
        height: 100px;
    }

    .wrapper__nav-text {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .wrapper__nav-text a {
        text-decoration: none;
        color: rgb(54, 83, 107);
    }

    .wrapper__nav-button {
        width: 173px;
        height: 48px;
        border-radius: 24px;
        border: 0;
        background-color: rgb(186, 66, 112);
        color: white;
    }

    .wrapper__nav-button :hover {
        background-color: transparent;
        border: 2px white;
    }

    .wrapper__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 58px;
        gap: 380px;
    }

    .wrapper__group h1 {
        display: flex;
        color: rgb(54, 83, 107);
        font-size: 52px;
        font-family: "Public Sans", sans-serif;
    }

    .wrapper__mask {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 110px;
        margin-top: 95px;
        background-color: rgb(27, 38, 47);
        width: 1500px;
        height: 472px;
        color: white;
        font-family: "Public Sans", sans-serif;
    }

    .wrapper__mask-text h2 {
        font-size: 48px;
    }

    .wrapper__mask-text p {
        color: grey;
        font-size: 15px;
        padding-top: 24px;
    }

    .wrapper__mask-text button {
        background-color: transparent;
        margin-top: 32px;
        border-radius: 40px;
        color: white;
        width: 100px;
        height: 48px;
    }

    .wrapper__mask-text button :hover {
        background-color: rgb(186, 66, 112);
    }

    .wrapper__easy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 165px;
        margin-right: 165px;
        margin-top: 160px;
        font-family: "Public Sans", sans-serif;
        gap: 200px;
    }

    .wrapper__easy-card {
        background-color: rgb(27, 38, 47);
        color: white;
        border-radius: 8px;
        width: 445px;
        height: 284px;
    }

    .wrapper__easy-card-nav {
        background-color: rgb(46, 63, 77);
        width: 445px;
        height: 40px;
        border-radius: 8px;
        font-family: "Public Sans", sans-serif;
        padding-top: 12px;
        padding-left: 16px;
        gap: 6px;
        display: flex;
    }

    .wrapper__easy-card-nav-box1 {
        width: 16px;
        height: 16px;
        background-color: rgb(186, 66, 112);
        border-radius: 32px;
    }

    .wrapper__easy-card-nav-box2 {
        width: 16px;
        height: 16px;
        background-color: rgb(82, 118, 149);
        border-radius: 32px;
    }

    .wrapper__easy-card-nav-box3 {
        width: 16px;
        height: 16px;
        background-color: rgb(54, 83, 107);
        border-radius: 32px;
    }

    .wrapper__eacy-group-second {
        padding-left: 32px;
        padding-top: 32px;
    }

    .wrapper__easy-text {
        color: rgb(54, 83, 107);
        font-size: 48px;
        gap: 128px;
    }

    .wrapper__easy-text p {
        color: gray;
        padding-top: 25px;
        font-size: 15px;
    }

    .wrapper__hello {
        display: flex;
        align-items: center;
        gap: 100px;
        padding-left: 181px;
        padding-right: 181px;
    }

    .wrapper__hello h3 {
        color: rgb(54, 83, 107);
        font-size: 18px;
        margin-top: 32px;
    }

    .wrapper__hello p {
        color: rgb(108, 130, 148);
        font-size: 15px;
        margin-top: 16px;
    }

    .wrapper__hello {
        padding-top: 120px;
        padding-left: 161px;
        padding-right: 189px;
        text-align: center;
        gap: 30px;
    }

    header {
        display: flex;
        background-color: rgb(27, 38, 47);
        align-items: center;
        justify-content: space-between;
        height: 100px;
        margin-top: 50px;
        width: 1350px;
    }

    .header__logo-text {
        display: flex;
        align-items: center;
        gap: 40px;
        padding-left: 165px;
    }

    .header__logo-text a {
        color: grey;
        text-decoration: none;
    }

    .header__logo {
        padding-right: 165px;
    }
}


/* Media query for screens with a width between 601 and 768 pixels */
@media screen and (min-width: 601px) and (max-width: 768px) {
    .wrapper {
        font-family: "Public Sans", sans-serif;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }

    body {
        background-color: rgb(237, 243, 248);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 51px;
        padding-left: 165px;
        padding-right: 165px;
        gap: 640px;
        position: fixed;
        background-color: rgb(237, 243, 248);
        height: 100px;
    }

    .wrapper__nav-text {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .wrapper__nav-text a {
        text-decoration: none;
        color: rgb(54, 83, 107);
    }

    .wrapper__nav-button {
        width: 173px;
        height: 48px;
        border-radius: 24px;
        border: 0;
        background-color: rgb(186, 66, 112);
        color: white;
    }

    .wrapper__nav-button :hover {
        background-color: transparent;
        border: 2px white;
    }

    .wrapper__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 58px;
        gap: 380px;
    }

    .wrapper__group h1 {
        display: flex;
        color: rgb(54, 83, 107);
        font-size: 52px;
        font-family: "Public Sans", sans-serif;
    }

    .wrapper__mask {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 110px;
        margin-top: 95px;
        background-color: rgb(27, 38, 47);
        width: 1500px;
        height: 472px;
        color: white;
        font-family: "Public Sans", sans-serif;
    }

    .wrapper__mask-text h2 {
        font-size: 48px;
    }

    .wrapper__mask-text p {
        color: grey;
        font-size: 15px;
        padding-top: 24px;
    }

    .wrapper__mask-text button {
        background-color: transparent;
        margin-top: 32px;
        border-radius: 40px;
        color: white;
        width: 100px;
        height: 48px;
    }

    .wrapper__mask-text button :hover {
        background-color: rgb(186, 66, 112);
    }

    .wrapper__easy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 165px;
        margin-right: 165px;
        margin-top: 160px;
        font-family: "Public Sans", sans-serif;
        gap: 200px;
    }

    .wrapper__easy-card {
        background-color: rgb(27, 38, 47);
        color: white;
        border-radius: 8px;
        width: 445px;
        height: 284px;
    }

    .wrapper__easy-card-nav {
        background-color: rgb(46, 63, 77);
        width: 445px;
        height: 40px;
        border-radius: 8px;
        font-family: "Public Sans", sans-serif;
        padding-top: 12px;
        padding-left: 16px;
        gap: 6px;
        display: flex;
    }

    .wrapper__easy-card-nav-box1 {
        width: 16px;
        height: 16px;
        background-color: rgb(186, 66, 112);
        border-radius: 32px;
    }

    .wrapper__easy-card-nav-box2 {
        width: 16px;
        height: 16px;
        background-color: rgb(82, 118, 149);
        border-radius: 32px;
    }

    .wrapper__easy-card-nav-box3 {
        width: 16px;
        height: 16px;
        background-color: rgb(54, 83, 107);
        border-radius: 32px;
    }

    .wrapper__eacy-group-second {
        padding-left: 32px;
        padding-top: 32px;
    }

    .wrapper__easy-text {
        color: rgb(54, 83, 107);
        font-size: 48px;
        gap: 128px;
    }

    .wrapper__easy-text p {
        color: gray;
        padding-top: 25px;
        font-size: 15px;
    }

    .wrapper__hello {
        display: flex;
        align-items: center;
        gap: 100px;
        padding-left: 181px;
        padding-right: 181px;
    }

    .wrapper__hello h3 {
        color: rgb(54, 83, 107);
        font-size: 18px;
        margin-top: 32px;
    }

    .wrapper__hello p {
        color: rgb(108, 130, 148);
        font-size: 15px;
        margin-top: 16px;
    }

    .wrapper__hello {
        padding-top: 120px;
        padding-left: 161px;
        padding-right: 189px;
        text-align: center;
        gap: 30px;
    }

    header {
        display: flex;
        background-color: rgb(27, 38, 47);
        align-items: center;
        justify-content: space-between;
        height: 100px;
        margin-top: 50px;
        width: 1350px;
    }

    .header__logo-text {
        display: flex;
        align-items: center;
        gap: 40px;
        padding-left: 165px;
    }

    .header__logo-text a {
        color: grey;
        text-decoration: none;
    }

    .header__logo {
        padding-right: 165px;
    }
}



/* Media query for screens with a width between 769 and 1024 pixels */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .wrapper {
        font-family: "Public Sans", sans-serif;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }

    body {
        background-color: rgb(237, 243, 248);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 51px;
        padding-left: 165px;
        padding-right: 165px;
        gap: 640px;
        position: fixed;
        background-color: rgb(237, 243, 248);
        height: 100px;
    }

    .wrapper__nav-text {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .wrapper__nav-text a {
        text-decoration: none;
        color: rgb(54, 83, 107);
    }

    .wrapper__nav-button {
        width: 173px;
        height: 48px;
        border-radius: 24px;
        border: 0;
        background-color: rgb(186, 66, 112);
        color: white;
    }

    .wrapper__nav-button :hover {
        background-color: transparent;
        border: 2px white;
    }

    .wrapper__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 58px;
        gap: 380px;
    }

    .wrapper__group h1 {
        display: flex;
        color: rgb(54, 83, 107);
        font-size: 52px;
        font-family: "Public Sans", sans-serif;
    }

    .wrapper__mask {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 110px;
        margin-top: 95px;
        background-color: rgb(27, 38, 47);
        width: 1500px;
        height: 472px;
        color: white;
        font-family: "Public Sans", sans-serif;
    }

    .wrapper__mask-text h2 {
        font-size: 48px;
    }

    .wrapper__mask-text p {
        color: grey;
        font-size: 15px;
        padding-top: 24px;
    }

    .wrapper__mask-text button {
        background-color: transparent;
        margin-top: 32px;
        border-radius: 40px;
        color: white;
        width: 100px;
        height: 48px;
    }

    .wrapper__mask-text button :hover {
        background-color: rgb(186, 66, 112);
    }

    .wrapper__easy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 165px;
        margin-right: 165px;
        margin-top: 160px;
        font-family: "Public Sans", sans-serif;
        gap: 200px;
    }

    .wrapper__easy-card {
        background-color: rgb(27, 38, 47);
        color: white;
        border-radius: 8px;
        width: 445px;
        height: 284px;
    }

    .wrapper__easy-card-nav {
        background-color: rgb(46, 63, 77);
        width: 445px;
        height: 40px;
        border-radius: 8px;
        font-family: "Public Sans", sans-serif;
        padding-top: 12px;
        padding-left: 16px;
        gap: 6px;
        display: flex;
    }

    .wrapper__easy-card-nav-box1 {
        width: 16px;
        height: 16px;
        background-color: rgb(186, 66, 112);
        border-radius: 32px;
    }

    .wrapper__easy-card-nav-box2 {
        width: 16px;
        height: 16px;
        background-color: rgb(82, 118, 149);
        border-radius: 32px;
    }

    .wrapper__easy-card-nav-box3 {
        width: 16px;
        height: 16px;
        background-color: rgb(54, 83, 107);
        border-radius: 32px;
    }

    .wrapper__eacy-group-second {
        padding-left: 32px;
        padding-top: 32px;
    }

    .wrapper__easy-text {
        color: rgb(54, 83, 107);
        font-size: 48px;
        gap: 128px;
    }

    .wrapper__easy-text p {
        color: gray;
        padding-top: 25px;
        font-size: 15px;
    }

    .wrapper__hello {
        display: flex;
        align-items: center;
        gap: 300px;
        padding-left: 581px;
    }

    .wrapper__hello h3 {
        color: rgb(54, 83, 107);
        font-size: 18px;
        margin-top: 32px;
    }

    .wrapper__hello p {
        color: rgb(108, 130, 148);
        font-size: 15px;
        margin-top: 16px;
    }

    .wrapper__hello {
        padding-top: 120px;
        padding-left: 161px;
        padding-right: 189px;
        text-align: center;
        gap: 30px;
    }

    header {
        display: flex;
        background-color: rgb(27, 38, 47);
        align-items: center;
        justify-content: space-between;
        height: 100px;
        margin-top: 50px;
        width: 1350px;
    }

    .header__logo-text {
        display: flex;
        align-items: center;
        gap: 40px;
        padding-left: 165px;
    }

    .header__logo-text a {
        color: grey;
        text-decoration: none;
    }

    .header__logo {
        padding-right: 165px;
    }
}



/* Media query for screens with a width between 1025 and 1200 pixels */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .wrapper {
        font-family: "Public Sans", sans-serif;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    body {
        background-color: rgb(237, 243, 248);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 51px;
        padding-left: 165px;
        padding-right: 165px;
        gap: 640px;
        position: fixed;
        background-color: rgb(237, 243, 248);
        height: 100px;
    }

    .wrapper__nav-text {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .wrapper__nav-text a {
        text-decoration: none;
        color: rgb(54, 83, 107);
    }

    .wrapper__nav-button {
        width: 173px;
        height: 48px;
        border-radius: 24px;
        border: 0;
        background-color: rgb(186, 66, 112);
        color: white;
    }

    .wrapper__nav-button :hover {
        background-color: transparent;
        border: 2px white;
    }

    .wrapper__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 58px;
        gap: 380px;
    }

    .wrapper__group h1 {
        display: flex;
        color: rgb(54, 83, 107);
        font-size: 52px;
        font-family: "Public Sans", sans-serif;
    }

    .wrapper__mask {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 110px;
        margin-top: 95px;
        background-color: rgb(27, 38, 47);
        width: 1500px;
        height: 472px;
        color: white;
        font-family: "Public Sans", sans-serif;
    }

    .wrapper__mask-text h2 {
        font-size: 48px;
    }

    .wrapper__mask-text p {
        color: grey;
        font-size: 15px;
        padding-top: 24px;
    }

    .wrapper__mask-text button {
        background-color: transparent;
        margin-top: 32px;
        border-radius: 40px;
        color: white;
        width: 100px;
        height: 48px;
    }

    .wrapper__mask-text button :hover {
        background-color: rgb(186, 66, 112);
    }

    .wrapper__easy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 165px;
        margin-right: 165px;
        margin-top: 160px;
        font-family: "Public Sans", sans-serif;
        gap: 200px;
    }

    .wrapper__easy-card {
        background-color: rgb(27, 38, 47);
        color: white;
        border-radius: 8px;
        width: 445px;
        height: 284px;
    }

    .wrapper__easy-card-nav {
        background-color: rgb(46, 63, 77);
        width: 445px;
        height: 40px;
        border-radius: 8px;
        font-family: "Public Sans", sans-serif;
        padding-top: 12px;
        padding-left: 16px;
        gap: 6px;
        display: flex;
    }

    .wrapper__easy-card-nav-box1 {
        width: 16px;
        height: 16px;
        background-color: rgb(186, 66, 112);
        border-radius: 32px;
    }

    .wrapper__easy-card-nav-box2 {
        width: 16px;
        height: 16px;
        background-color: rgb(82, 118, 149);
        border-radius: 32px;
    }

    .wrapper__easy-card-nav-box3 {
        width: 16px;
        height: 16px;
        background-color: rgb(54, 83, 107);
        border-radius: 32px;
    }

    .wrapper__eacy-group-second {
        padding-left: 32px;
        padding-top: 32px;
    }

    .wrapper__easy-text {
        color: rgb(54, 83, 107);
        font-size: 48px;
        gap: 128px;
    }

    .wrapper__easy-text p {
        color: gray;
        padding-top: 25px;
        font-size: 15px;
    }

    .wrapper__hello {
        display: flex;
        align-items: center;
        gap: 100px;
        padding-left: 181px;
        padding-right: 181px;
    }

    .wrapper__hello h3 {
        color: rgb(54, 83, 107);
        font-size: 18px;
        margin-top: 32px;
    }

    .wrapper__hello p {
        color: rgb(108, 130, 148);
        font-size: 15px;
        margin-top: 16px;
    }

    .wrapper__hello {
        padding-top: 120px;
        padding-left: 161px;
        padding-right: 189px;
        text-align: center;
        gap: 30px;
    }

    header {
        display: flex;
        background-color: rgb(27, 38, 47);
        align-items: center;
        justify-content: space-between;
        height: 100px;
        margin-top: 50px;
        width: 1350px;
    }

    .header__logo-text {
        display: flex;
        align-items: center;
        gap: 40px;
        padding-left: 165px;
    }

    .header__logo-text a {
        color: grey;
        text-decoration: none;
    }

    .header__logo {
        padding-right: 165px;
    }
}

/* Media query for screens with a minimum width of 1201 pixels */
@media screen and (min-width: 1201px) {
    .wrapper {
        font-family: "Public Sans", sans-serif;
    }

    body {
        background-color: rgb(237, 243, 248);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 51px;
        padding-left: 165px;
        padding-right: 165px;
        gap: 640px;
        position: fixed;
        background-color: rgb(237, 243, 248);
        height: 100px;
    }

    .wrapper__nav-text {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .wrapper__nav-text a {
        text-decoration: none;
        color: rgb(54, 83, 107);
    }

    .wrapper__nav-button {
        width: 173px;
        height: 48px;
        border-radius: 24px;
        border: 0;
        background-color: rgb(186, 66, 112);
        color: white;
    }

    .wrapper__nav-button :hover {
        background-color: transparent;
        border: 2px white;
    }

    .wrapper__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 58px;
        gap: 380px;
    }

    .wrapper__group h1 {
        display: flex;
        color: rgb(54, 83, 107);
        font-size: 52px;
        font-family: "Public Sans", sans-serif;
    }

    .wrapper__mask {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 110px;
        margin-top: 95px;
        background-color: rgb(27, 38, 47);
        width: 1500px;
        height: 472px;
        color: white;
        font-family: "Public Sans", sans-serif;
    }

    .wrapper__mask-text h2 {
        font-size: 48px;
    }

    .wrapper__mask-text p {
        color: grey;
        font-size: 15px;
        padding-top: 24px;
    }

    .wrapper__mask-text button {
        background-color: transparent;
        margin-top: 32px;
        border-radius: 40px;
        color: white;
        width: 100px;
        height: 48px;
    }

    .wrapper__mask-text button :hover {
        background-color: rgb(186, 66, 112);
    }

    .wrapper__easy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 165px;
        margin-right: 165px;
        margin-top: 160px;
        font-family: "Public Sans", sans-serif;
        gap: 200px;
    }

    .wrapper__easy-card {
        background-color: rgb(27, 38, 47);
        color: white;
        border-radius: 8px;
        width: 445px;
        height: 284px;
    }

    .wrapper__easy-card-nav {
        background-color: rgb(46, 63, 77);
        width: 445px;
        height: 40px;
        border-radius: 8px;
        font-family: "Public Sans", sans-serif;
        padding-top: 12px;
        padding-left: 16px;
        gap: 6px;
        display: flex;
    }

    .wrapper__easy-card-nav-box1 {
        width: 16px;
        height: 16px;
        background-color: rgb(186, 66, 112);
        border-radius: 32px;
    }

    .wrapper__easy-card-nav-box2 {
        width: 16px;
        height: 16px;
        background-color: rgb(82, 118, 149);
        border-radius: 32px;
    }

    .wrapper__easy-card-nav-box3 {
        width: 16px;
        height: 16px;
        background-color: rgb(54, 83, 107);
        border-radius: 32px;
    }

    .wrapper__eacy-group-second {
        padding-left: 32px;
        padding-top: 32px;
    }

    .wrapper__easy-text {
        color: rgb(54, 83, 107);
        font-size: 48px;
        gap: 128px;
    }

    .wrapper__easy-text p {
        color: gray;
        padding-top: 25px;
        font-size: 15px;
    }

    .wrapper__hello {
        display: flex;
        align-items: center;
        gap: 100px;
        padding-left: 181px;
        padding-right: 181px;
    }

    .wrapper__hello h3 {
        color: rgb(54, 83, 107);
        font-size: 18px;
        margin-top: 32px;
    }

    .wrapper__hello p {
        color: rgb(108, 130, 148);
        font-size: 15px;
        margin-top: 16px;
    }

    .wrapper__hello {
        padding-top: 120px;
        padding-left: 161px;
        padding-right: 189px;
        text-align: center;
        gap: 30px;
    }

    header {
        display: flex;
        background-color: rgb(27, 38, 47);
        align-items: center;
        justify-content: space-between;
        height: 100px;
        margin-top: 50px;
        width: 1350px;
    }

    .header__logo-text {
        display: flex;
        align-items: center;
        gap: 40px;
        padding-left: 165px;
    }

    .header__logo-text a {
        color: grey;
        text-decoration: none;
    }

    .header__logo {
        padding-right: 165px;
    }
}